.header{
    padding: 20px;
}

.header_btn{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    span{
        display: block;
        width: 54px;
        height: 4px;
        margin-bottom: 3px;
        background: #4666A9;
    }
}

.header_item{
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #4567AA;
}

.header_link{
    color: inherit;
    &:hover{
        color: #FF8139;
    }
}